xppservice_xsd0.xml

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://softwerk.ee/elion/SofAOSStatusService" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softwerk.ee/elion/SofAOSStatusService"><xs:element name="SofAOSStatusServiceGetAOSStatusRequest"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="SofAOSStatusServiceGetAOSStatusResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="response" type="xs:int"/></xs:sequence></xs:complexType></xs:element></xs:schema>